@model PROJECT_MVC.Models.LoginDB
@{
    ViewBag.Title = "Login_Load";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <div>
        @using (Html.BeginForm("Login_Click", "Login", FormMethod.Post))
        {
            <div><img src="~/PHS/bannermvc.jpg" width="1100px" /></div>

            <br />
            <h2>Login Page</h2>
            <div>
                <label>Username:</label>
            </div>
            <div>
                @Html.TextBoxFor(m => m.Username)
                @Html.ValidationMessageFor(m => m.Username)
            </div>
            <div>
                <label>Password:</label>
            </div>
            <div>
                @Html.TextBoxFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div>
                <input id="Button1" type="submit" value="Login" />
                <br />
                @Html.DisplayFor(m => m.msg)
            </div>
        }
    </div>
    <br />
    <div>
        @Html.ActionLink("All the details of clients", "Display_Load", "DisplayAll")
    </div>
</center>

